<%- include('partials/header'); %>

<h1>Home</h1>

<p><%= homeContent %></p>


<% posts.forEach(element => { %>
  <h1><%= element.composeTitle %></h1>
  <p>
    <%= element.composeData.substring(0,100) + "....." %>
    <a href= "/posts/<%= element.composeTitle %>">Read More</a>
  </p>
<% }); %>

<%- include('partials/footer'); %>
